.contenedor{
    width: auto;
    height: auto;
    text-align: center;
    font-size: large;
    margin-top: 1em;
}

input{
    margin-top: 1em;
}
label:first-of-type{
margin-left:25px;
}
button{
    margin-top: 2em;
}
p{
	background-color: red;
	color:black;
}